<!DOCTYPE html>
<html>
  <head>
    <title>Countup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Denk+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Contrail+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Trirong&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sunshiney&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">CountGame</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>
              <ul class="user__info">
                <li>
                  <%= link_to "My page", user_path(current_user.id) %>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <%= link_to "PLAY", new_post_path, class: "playbutton" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "Sign in", new_user_session_path, class: "post__header-signin" %>
            <%= link_to "Sign up", new_user_registration_path, class: "post__header-signup" %>
            <%= link_to "PLAY", new_post_path, class: "playbutton" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>
      
  </body>
</html>
